<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-content>
        <div>
          <ion-label>User Name</ion-label>
          <ion-input type="email" placeholder="e.g. John Foo" [(ngModel)]="credentials.email"></ion-input>
        </div>
        <div>
          <ion-label>Password</ion-label>
          <ion-input type="password" placeholder="Secret" [(ngModel)]="credentials.password" ></ion-input>
        </div>
        <ion-button (click)="onLogin()" expand="block">Login</ion-button>
      </ion-card-content>
    </ion-card>
  
  </ion-content>

